    *{
        top: 0;
        padding: 0;
    }
    .bg-holder img{
        position: absolute;
        width: 100%;
        min-height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .navbar{
        background-color: #fff;
        height: 65px;
        margin: 20px;
        border-radius: 16px;
        padding: 0.5rem;
    }
    .navbar-brand{
        font-weight: 500;
        font-size: 35px;
    }

    .login-button{
        background-color: black;
        color: #fff;
        font-size: 14px;
        padding: 8px 20px;
        border-radius: 50px;
        text-decoration: none;
        transition: 0.3s background-color;
    }

    .login-button:hover{
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .navbar-toggler{
        border: none;
        font-size: 1.25rem;
    }

    .navbar-toggler:focus .btn-close:focus{
        box-shadow: none;
        outline: none;
    }

    .nav-link{
        color: #666777;
        font-weight: 500;
        position: relative;
    }

    .nav-link:hover, .nav-link.active{
        color: #000;
    }

    @media (min-width:991px) {
        .nav-link::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 2px;
            background-color: black;
            visibility: hidden;
            transition: 0.3s ease-in-out;
        }
        
        .nav-link:hover::before, .nav-link.active::before{
            width: 100%;
            visibility: visible;
        }
    }

    .main{
        background-image: url('/image/perpus.jpg');
        background-size: cover; /* Agar gambar menutupi seluruh background */
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;     /* Untuk mengatur secara vertikal */
        position: relative;      /* Agar ::before berfungsi dengan benar */
    }

    .main::before{
        background-color: rgba(0,0,0,0.6);
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .teks{
        display: flex;
        align-items: center;
        padding: 50px;
        position: relative;
        z-index: 1; /* Agar teks berada di atas overlay */
    }

    .judul h1{
        color: white; /* Agar teks terlihat jelas */
        font-size: 2.5rem;
    }

    .judul span{
        color: white; /* Agar teks terlihat jelas */
        font-size: 1rem;
    }

    .judul i{
        margin-right: 10px;
        margin-left: 10px;
    }

    .book{
        height: 100vh;
        width: 100%;
        background-color: #fff;
    }

    .kotak{
        padding: 60px;
    }

    .tmbl{
        display: flex;
        justify-content: center;
    }

    .tmbl button{
        background-color: black;
        color: #fff;
        font-size: 14px;
        padding: 8px 40px;
        border-radius: 50px;
        text-decoration: none;
        transition: 0.3s background-color;
        margin-top: 15px;
    }

    .tmbl button:hover{
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .box img{
        transition: transform 0.5s;
    }

    .box img:hover{
        transform: scale(1.1);
    }

    footer{
        height: 300px;
        width: 100%;
        background-color: black;
    }

    .long{
        background-color: #666777;
    height: 150px;
    position: absolute;  
    top: 88%;            
    z-index: 1;       
    width: 80%;
    border-radius: 10px;
    }

    .about{
        height: 500px;
        width: 100%;
        background-color: hsl(0, 100%, 50%);
        margin-top: 10%;
        border-radius: 10px;
    }


    @media (max-width: 768px) {
        .long {
            width: 90%;             
            top: 85%;               
            height: 120px;          
            left: 5%;               
            right: 5%;
            border-radius: 8px;     
        }
    }